// .e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
//     background: unset;
//     box-sizing: border-box;
//     min-height: inherit;
//     outline: 0 solid transparent;
//     padding: 200px;
//     position: relative;
//     text-align: inherit;
//     z-index: 2;
// }
// .e-rte-content{
//     background:  #f1f3f6;
//     border: 1px solid rgba(0, 0, 0, 0.12);
//     color: #333;
//     min-height: 400px;
// }
.e-rte-content{
    background:  #f1f3f6;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #333;
    min-height: 400px;
}

// richtext-editor
.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
    background: unset;
    box-sizing: border-box;
    min-height: inherit;
    outline: 0 solid transparent;
    padding: 16px;
    position: relative;
    text-align: inherit;
    z-index: 2;
}
